#square {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    justify-content: center;
}

.black {
    background: #000;

}

.white {
    background: #fff;
    border: 1px solid black;
}
