/*#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(13, 100px);
}

#stars {
    grid-column: 1;
    grid-row: 1;
}

img {
    height: 100%;
    width: 50%;
}

.red {
    background: #FF0000;
    border: 1px solid black;
    grid-column: 1;
}

.white {
    background: #fff;
    border: 1px solid black;
}*/

body {
    display: flex;
    flex-wrap: wrap; /*display flex wrapped the img and table together*/
    height: 100%;
    width: auto;
}

table {
    height: 500px;
    width: 80%;
}

table, td {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.red {
    background: #FF0000;
}

.white {
    background: #fff;
}

img {
    position: absolute; /*Moved the star img up over the flag*/
    height: 269px;
}